:root{
    --bright: #E8EDE7;
    --brightBlueish: #81BECE;
    --blueish: #378BA4;
    --darkerBlueish:#036280;
    --darkblue:#012E4A;

}
body{
    background-color: var(--brightBlueish);
}


/*! -------------- 1- NAVBAR ---------------- */
.navbar{
    background-color:var(--darkerBlueish) ;
}
.navbar .navbar-toggler{
    color: var(--blueish);
    background-color: var(--brightBlueish);
}
.navbar .nav-link{
    transition : color 1s  ;
    font-size: 1.2rem;
    font-weight: 600;
    
    
}

.navbar .nav-link:hover {
    color: lightblue;
    
}



/*! ------------- 2- CAROUSEL --------------- */
.carousel-item{
 max-height:calc(100vh - 88px);

}
.carousel-caption h5{
    color: var(--blueish);
    font-size: 2.4rem;
    text-shadow: 3px 3px 3px  black;
}
.carousel-caption p {
    text-shadow: 3px 3px 3px black;
    font-weight: 600;
}

.carousel-caption .btn{
    width: 7rem;
    background-color: #012E4A;
    color: var(--bright);
    border-color: var(--darkblue);
}
.carousel-caption{
    bottom: 6rem;
}

.carousel-indicators{
    gap: 0.7rem;
}
.carousel-indicators button{
    background-color:var(--brightBlueish) !important;
    width: 3rem !important; 
    height: 0.4rem !important;
}


/*! ------------ 3- ABOUT SECTION ----------- */

#about h2{
    color: var(--darkerBlueish) !important;
}

#about i{
    color: var(--darkerBlueish);
}
#about h4{
    color: var(--darkerBlueish);
}


/*! ------------- 4- INSTRUCTORS -------------*/

#instructors .card {
    transition: transform 0.3s;
    background-color: var(--bright);
}
#instructors .card:hover{
    transform:scale(1.05);
}
#instructors .card i{
    color:var(--blueish);
    transition: opacity 0.5s;
}
#instructors .card i:hover{
    opacity:0.5 ;
}

#instructors h2{
    color: var(--brightBlueish) !important;
}

#instructors{
    background-color: var(--darkblue) !important;
}
.card-title {
    color: var(--darkblue) !important;
}
.insta{
    color: purple !important;
}
.face{
    color: rgb(0, 68, 255) !important;
}
.twit{
    color: rgb(0, 140, 255) !important;
}
.google{
    color: #ac0000 !important;
}



/*! ----------- 4- STUDENTS SECTION ----------*/

#students .btn{
    background-color: var(--darkblue);
    border-color: var(--darkblue);
}

#students h2{
    color: #012E4A !important;
}
/*! ----------- 5- COURSES SECTION ----------- */
.nav-pills .nav-link.active{
    background-color: var(--blueish);
}
.nav-pills .nav-link{
    color: var(--blueish);
}

#courses h2{
    color: var(--brightBlueish) !important;
}

#courses {
    background-color: #012E4A !important;
}

/*! ----------- 6- CONTACT SECTION ------------ */

#contact h2{
    color: #012E4A !important;
}

#contact i{
    color: #012E4A;
}

#contact h5{
    color: #012E4A !important;
}

#contact button{
    border-color: #012E4A;
    background-color: #012E4A !important;
}

/*! --------------- 7- FOOTER ----------------- */

footer{
    background-color: var(--darkblue) !important;
}

footer i {
    margin-right: 0.8rem;
    color: var(--bright);
    transition: color 0.5s;

}


footer i:hover{
    color: var(--blueish);
}
#copyright{
    color: var(--bright);
}

.btn-up{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--darkblue);
    width: 50px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform:rotate(180deg) ;
    text-decoration: none;
    border-radius: 50%;
}
.btn-up i{
    color: var(--bright);
    font-size: 30px;
}